doctype html

block vars

html(lang="ru")

  head
    title= title
    meta(charset="utf-8")

    link(href="/css/style.css", rel="stylesheet")
    script(src="/lib/prefixfree/prefixfree.min.js")

    block includes

  body(id=body_id)
    block content