<div id="index-container" class="container">
  <div id="index-header" class="row">
    <div class="col logo"></div>
    <!-- TODO: Добавить навигацию -->
  </div>

  <div id="index-content" class="row">
    <h1>Добро пожаловать!</h1>
    <p>Мафия — это онлайн-игра, где вам предстоит либо взять на себя роль мирного жителя и
    защитить город от мафии, либо самому стать мафиози и устроить расправу над горожанами.</p>
    <p>Регистрация не требуется: задайте имя — и вы готовы к игре!</p>
  </div>

  <div id="index-footer" class="row">
    <div id="index-buttons" class="col-md-4 col-sm-6 col-md-push-8 col-sm-push-6">
      <button id="find-game" class="btn btn-block btn-huge btn-primary">Найти игру</button>
      <button id="new-game" class="btn btn-block btn-huge btn-default">Играть с друзьями</button>
    </div>
    <div id="index-author" class="col-md-8 col-sm-6 col-md-pull-4 col-sm-pull-6">
      <div class="inner">© 2015, Oleg Evseev</div>
    </div>
  </div>
</div>

<div id="loading-window" class="modal">
  <div class="modal-dialog">
    <div class="header">Подождите...</div>
    <div class="content">Идет создание комнаты.</div>
    <div class="spinner"></div>
  </div>
</div>