extends base

block vars
  - var title = "Мафия — комната " + roomID
  - var body_id = "client-page"

block includes
  link(href="/css/client.css", rel="stylesheet")

  script(src="/lib/jquery/dist/jquery.min.js")
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(src="/lib/cookies-js/dist/cookies.min.js")
  script(src="/socket.io/socket.io.js")

block content
  include room.html

  script(type="text/javascript").
    var userData = {
      roomID: '#{roomID}',
      playerID: Cookies('playerID'),
      playerName: Cookies('playerName')
    };
  script(src="/js/client.js")