extends base

block vars
  - var title = "Мафия"

block content
  h1= "Мафия"
  h2= "Комната " + roomID

  ul#players
  hr

  form(action="javascript:void(0);")
    input#msg
    input(type="submit", value="Отправить")
  ul#chat

  script(src="/libs/cookies.js")
  script(src="/libs/jquery-2.1.3.js")
  script(src="/socket.io/socket.io.js")

  script.
    var userData = {
      roomID: '#{roomID}',
      playerID: Cookies('playerID'),
      playerName: Cookies('playerName')
    }
  script(src="/js/client.js")