extends base

block vars
  - var title = "Мафия — комната " + roomID
  - var full_width = true
  - var body_id = "client-page"

block includes
  link(href="http://s.mafia.x3n.me/css/client.css", rel="stylesheet")
  link(href="http://s.mafia.x3n.me/css/players.css", rel="stylesheet")

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")

  script(src="https://cdn.rawgit.com/makeusabrew/bootbox/master/bootbox.js")
  script(src="https://raw.githubusercontent.com/ScottHamper/Cookies/1.2.2/dist/cookies.min.js")
  script(src="https://cdn.rawgit.com/alexei/sprintf.js/master/dist/sprintf.min.js")

  script(src="/socket.io/socket.io.js")

block content
  include room.html

  script(type="text/javascript").
    var userData = {
      roomID: '#{roomID}',
      playerID: Cookies('playerID'),
      playerName: Cookies('playerName')
    };

  script(src="http://s.mafia.x3n.me/js/client.js")