<nav class="navbar navbar-inverse client-navbar">
  <div class="container-fluid">

    <a href="/"><img class="nav-logo" src="/img/logo-white.png"/></a>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
          aria-expanded="false">Настройки <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="nav-change-name">Изменить имя...</a></li>
        </ul>
      </li>
      <li><a href="#" id="nav-leave-game">Выход</a></li>
    </ul>

  </div>
</nav>

<div class="client-main">
  <div class="client-left">
    <ul class="player-list" id="player-list"></ul>
  </div>

  <div class="client-right bg-day">
    <div class="status-window">
      <!-- TODO: Наполнить статусное окно контентом -->
    </div>

    <div class="chat-window">
      <ul class="chat-list" id="chat-list"></ul>
    </div>

    <div class="submit-window">
      <form action="#">
        <div class="input-group">
          <input class="form-control message-field" name="message" type="text"
            maxlength="256" placeholder="Сообщение в чат (макс. 256 символов)"/>
          <span class="input-group-btn">
            <button class="btn btn-default submit-button" type="submit">Отправить</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>