<nav id="client-navbar" class="navbar navbar-inverse">
  <div class="container-fluid">

    <a href="/"><img class="nav-logo" src="/img/logo-white.png"/></a>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"><span class="caret"></span></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><a id="nav-change-name" href="#">Изменить имя...</a></li>
        </ul>
      </li>
      <li>
        <a id="nav-help" href="#">
          <span class="glyphicon glyphicon-question-sign"></span>
        </a>
      </li>
      <li>
        <a id="nav-leave-game" href="#">
          <span class="glyphicon glyphicon-log-out"></span>
        </a>
      </li>
    </ul>

  </div>
</nav>

<div id="client-main">

  <div id="client-left">
    <ul id="player-list"></ul>
  </div>

  <div id="client-right" class="bg-day">

    <div id="info-drawer">
      <span class="drawer-caption">Правила игры</span>
      <ul id="rules">[ правила игры ]</ul>
      <div class="drawer-block">[ информация о версии и изменениях ]</div>
    </div>

    <div id="status-window">[ статусная панель ]</div>

    <div id="chat-window">
      <ul id="chat-list"></ul>
    </div>

    <div id="submit-window">
      <form id="chat-form" action="javascript:void(0);">
        <div class="input-group">
          <input id="chat-input" class="form-control" name="message" type="text"
            maxlength="256" placeholder="Сообщение в чат (макс. 256 символов)"/>
          <span class="input-group-btn">
            <button id="chat-submit" class="btn btn-default" type="submit">Отправить</button>
          </span>
        </div>
      </form>
    </div>

  </div>

</div>