body#client-page {
    height: 100%;
    z-index: 0;

    overflow: hidden;

    background-color: #404040;
    background-image: url("/img/bg-pattern-dark.png");
    background-repeat: repeat;
}

/**
 * Строка заголовка
 */

#client-navbar {
    position: relative;
    height: 50px;
    z-index: 1;

    border: 0;
    border-radius: 0;
    margin: 0;

    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

#client-navbar.navbar-collapse.collapse {
    display: block;
}

.nav-logo {
    width: 128px; height: 50px;

    padding: 5px 0;
}

/**
 * Экран игры
 */

#client-main {
    position: absolute;
    width: 100%;
    height: calc(100% - 50px);

    padding: 0;

    display: flex;
}

/**
 * Левая панель экрана игры
 */

#client-left {
    width: 320px;

    overflow: auto;
}

#player-list, #player-list > li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#player-list > li {
    padding: 0.75em 1em;

    font-size: 12pt;
}

#player-list.vote  > li:hover {
    cursor: pointer;
    background-color: LightGray !important;
}

#player-list > li:nth-child(odd) {
    background-color: white;
}

#player-list > li:nth-child(even) {
    background-color: WhiteSmoke;
}

#start-button {
    border-radius: 0px;
}

.player-index {
    width: 2em;

    display: inline-block;

    color: white;
    background-color: black;
    border-radius: 3px;
    font-style: normal;
    text-align: center;
}

#player-list .player-index {
    float: left;
}

#player-list .player-name {
    padding: 0 0.5em;
}

.player-name.me {
    font-weight: bold;
}

.player-name.disconnected {
    color: silver;
}

.player-name.eliminated {
    color: silver;
    text-decoration: line-through;
}

.player-aux {
    color: silver;
    font-size: 8pt;
}

.player-role-icon {
    background-size: cover;
}

#player-list .player-role-icon {
    width: 24px; height: 24px;

    float: right;
}

.player-role-icon.mafia {
    background-image: url("/img/icons/mafia.png");
}

.player-role-icon.civilian {
    background-image: url("/img/icons/civilian.png");
}

.player-role-icon.detective {
    background-image: url("/img/icons/detective.png");
}

.player-role-icon.doctor:before {
    content: "доктор";
}

.player-role-icon.prostitute:before {
    content: "проститутка";
}

/**
 * Правая панель экрана игры
 */

#client-right {
    z-index: 0;

    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

    flex: 1;

    display: flex;
    flex-direction: column;
}

#chat-window {
    position: relative;
    width: 100%; height: 100%;

    overflow: none;
    overflow-x: hidden;

    border-top: 1px solid;
    border-bottom: 1px solid;

    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: left bottom;

    transition: all 0.5s ease;

    flex: 1;
}

#chat-list, #chat-list > li {
    display: block;
    list-style: none;
}

#chat-list {
    position: absolute;
    bottom: 0;
    width: 100%; max-height: 100%;

    overflow: auto;
    margin: 0;
    padding: 10px;
}

#chat-list > li {
    margin: 2px 0px;

    word-wrap: break-word;
}

#chat-list .player-index {
    margin: 0 0.125em;

    font-size: 10pt;
}

#chat-list .player-name {
    margin: 0 0.25em;

    font-weight: bold;
}

.log-message {
    color: DarkGray;
    font-style: italic;
}

.log-message > strong {
    color: black;
}

#submit-window {
    padding: 5px;
}

.bg-day #status-window {
    background-color: WhiteSmoke;
}

.bg-day #chat-window {
    border-color: LightGray;

    background-color: white;
    background-image: url("/img/chat-bg-day.png");
}

.bg-day #submit-window {
    background-color: WhiteSmoke;
}

.bg-night #status-window {
    color: LightGray;
    background-color: #484848;
}

.bg-night #chat-window {
    border-color: #4c4c4c;

    color: white;
    background-color: #3c3c3c;
    background-image: url("/img/chat-bg-night.png");
}

.bg-night #submit-window {
    background-color: #3c3c3c;
}

.bg-night #chat-input {
    border-color: #404040;
    
    background-color: black;
}

.bg-night #chat-submit {
    border-color: #404040;

    color: LightGray;
    background-color: #1c1c1c;
}

.bg-night #chat-submit:hover, 
.bg-night #chat-submit:focus, 
.bg-night #chat-submit:active {
    background-color: #303030;
}

.bg-night #chat-submit.disabled {
    color: DarkGray;
}

.bg-night .log-message > strong {
    color: white;
}

@media(max-width: 768px) {
    /**
     * Нижеприведенный код — ужасный костыль, но работает.
     * Так как я — не верстальщик, оставлю пока как есть, потому что мне лень
     * с этим возиться.
     */

    #client-navbar .navbar-nav {
        float: left;
        margin-top: 5px;
    }

    #client-navbar .navbar-nav > li {
        float: left;
    }

    #client-navbar .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }

    #client-navbar .navbar-right {
        float: right;
    }

    #client-left {
        width: 192px;
    }
}