.p1 {
    background-color: #d80000;
}

.p2 {
    background-color: #0a4571;
}

.p3 {
    background-color: #00a82a;
}

.p4 {
    background-color: #c2c008;
}

.p5 {
    background-color: #8217a4;
}

.p6 {
    background-color: #7b4708;
}

.p7 {
    background-color: #0ac0ff;
}

.p8 {
    background-color: #ff7603;
}

.p9 {
    background-color: #ff4d1a;
}

.p10 {
    background-color: #0031f8;
}

.p11 {
    background-color: #1aff68;
}

.p12 {
    background-color: #d9d71c;
}

.p13 {
    background-color: #9b2eff;
}

.p14 {
    background-color: #868686;
}

.p15 {
    background-color: #5d9eff;
}

.p16 {
    background-color: #ffa901;
}

.p17 {
    background-color: #bc0075;
}

.p18 {
    background-color: #0095a8;
}

.p19 {
    background-color: #16ec87;
}

.p20 {
    background-color: #e3e238;
}

.p21 {
    background-color: #7e4cff;
}

.p22 {
    background-color: #81754c;
}

.p23 {
    background-color: #0077ff;
}

.p24 {
    background-color: #d1965b;
}